#                                Python Tutorial

In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os

# Keywords
* Keywords are the reserved words in python and cant be used as an identifier

In [2]:
print(keyword.kwlist) # list all python keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
print(len(keyword.kwlist))

35

# Identifier
* An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another.

In [7]:
1var = 10 # Identifier can't start with a digit

SyntaxError: invalid decimal literal (2087397812.py, line 1)

In [8]:
var12@ = 20 # Identifier can't use special character

SyntaxError: invalid syntax (2860878467.py, line 1)

In [9]:
import = 22 # Keywords cant be used as identifiers

SyntaxError: invalid syntax (2777366544.py, line 1)

In [10]:
"""
Correct way of defining an identifier
(Identifiers can be combination of letters in lowercase (a to z) or uppercase)
"""
val2 = 110

In [11]:
val_ = 12

# Comments in Python
* Comments can be used to explain the code for more readabilty

In [12]:
# Single line comment
val1  = 10

In [13]:
# Multiple
# Line
# Comment

val = 18

In [15]:
'''
Multiple
Line
Comment
'''

val1 = 19

# Statements
* Instructions that a Python interpreter can execute.

In [17]:
p = 20 # Creates an integer abject with value 20 and assigns the variable p 
q = 20 # Create new reference q which will point to value 20.
r = q # Variable r will also point to the same location where p & q are pointing
p, type(p), hex(id(p)) # Variable P is pointing to memory location '0x7ffa5f409588'

(20, int, '0x7ffa5f409588')

In [18]:
q, type(q), hex(id(q))

(20, int, '0x7ffa5f409588')

In [19]:
r,type(r), hex(id(r))

(20, int, '0x7ffa5f409588')

In [20]:
p = 20
p = p + 15 # Variable overwriting
print(p)

35

# Variable Assignment

In [23]:
intvar = 10 # integer variable
floatvar  = 2.57 # Float variable
strvar = 'Pyhton Language' # String variable

print(intvar)
print(floatvar)
print(strvar)

10
2.57
Pyhton Language

# Multiple assignment

In [26]:
intvar, floatvar, strvar = 10,25.5,'Python Language' # use comma(,) to seperate
print(intvar)
print(floatvar)
print(strvar)

10
25.5
Python Language

In [29]:
p1 = p2 = p3 = p4  = 25 # All variables pointing to same value
print(p1,p2,p3,p4)

25 25 25 25

# Data Types

### Numeric

In [31]:
val1 = 12 # Integer Data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # Size of integer object in bytes
print(val1, ' is Integer?', isinstance(val1,int)) # val1 is an instance of int

12
<class 'int'>
28
12  is Integer? True

In [35]:
val2 = 78.45 # Float data type
print(val2)
print(type(val2))
print(sys.getsizeof(val2))
print(val2, ' is flaot?', isinstance(val2,float)) # val2 is an instance of float

78.45
<class 'float'>
24
78.45  is flaot? True

In [36]:
val3 = 20 + 30j # Complex data type
print(val3)
print(type(val3))
print(sys.getsizeof(val3))
print(val3, ' is complex?', isinstance(val3,complex)) # val3 is an instance of complex

(20+30j)
<class 'complex'>
32
(20+30j)  is complex? True

In [37]:
sys.getsizeof(int) #Size of integer object in bytes

424

In [38]:
sys.getsizeof(float) # size of float  object in bytes

424

In [39]:
sys.getsizeof(complex) # Size of complex object in bytes

424

# Boolean
* Boolean data type can have only two possible values true or false.

In [40]:
bool1 = True

In [41]:
bool2 = False

In [42]:
print(type(bool1))

<class 'bool'>

In [43]:
print(type(bool2))

<class 'bool'>

In [44]:
isinstance(bool1, bool)

True

In [45]:
isinstance(bool2, bool)

True

In [46]:
bool(0)

False

In [47]:
bool(1)

True

In [50]:
bool(None)

False

In [55]:
bool(False)

False

In [53]:
bool (True)

True

# String
### String Creation

In [57]:
str1 = "Hello python"
print(str1)

Hello python

In [62]:
mystr  = 'Hello World' # Define string using single quotes
print(mystr)

Hello World

In [60]:
mystr = "Hello World" # Define string using double quotes
print(mystr)

Hello World

In [65]:
mystr = '''Hello 
            World''' # Define string using single triple quotes
print(mystr)

Hello
            World

In [64]:
mystr = """Hello
            World""" # Define string using triple quotes
print(mystr)

Hello
            World

In [67]:
mystr =  ('Happy '
          'Monday '
          'Everyone ')
print(mystr)

Happy Monday Everyone

In [69]:
mystr2 = 'Woohoo '
mystr2 = mystr2 * 5
print(mystr2)

Woohoo Woohoo Woohoo Woohoo Woohoo

In [70]:
len(mystr2) # length of string

35

# String Indexing
* Forward Indexing --> Left to right (Index starts from 0)
* Backward Indexing --> right to Left (Index starts from -1)

In [93]:
str1 = 'Hello Python'

In [94]:
str[0] # First character in string "str1"

'H'

In [95]:
str1[len(str)-1] # last character in string using len function

'n'

In [96]:
str[-1] # last character in string

'n'

In [97]:
str[6] # Fetch 7th element of the string

'p'

In [98]:
str1[5]

' '

### String Slicing

In [99]:
str1[0:5] # String slicing - fetch all character from 0 to 5 index

'Hello'

In [100]:
str1[6:12] #string slicing - Retreive all characters between 6 - 12 index loc

'Python'

In [101]:
str1[-4:-2] #Rereive Last four characters of the string

'th'

In [102]:
str1[-6:] # Retreive last six characters of the string

'Python'

In [103]:
str1[:4] # Retreive first four characters of the string

'Hell'

In [104]:
str1[:6] # Retreive first six characters of the string

'Hello '

### Update & Delete String

In [105]:
str1

'Hello Python'

In [106]:
# Strings are immutable which means elements of a string cannot be changed once taken
str[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [107]:
del str1 # Delete a string

In [108]:
print(str1)

NameError: name 'str1' is not defined

### String Concatenation

In [111]:
# String concatenation
s1 = 'Hello '
s2 = 'Aahan'
s3 = s1 + s2
print(s3)

Hello Aahan