# Python Print Statement

In [ ]:
# print is used for answer

In [1]:
a = 20
b = 20
a
b

20

In [2]:
a = 30
b = 25
print(a)
print(b)

30
25

In [3]:
print(10)
print(10,20)
print('Python')
print(10,20,'Python')

10
10 20
Python
10 20 Python

In [4]:
num1 = 20
num2 = 30
add = num1 + num2
print(add)

50

In [7]:
num1 = 45
num2 = 35
add = num1 + num2
print('The addition of',num1,'and',num2,'is =',add)

The addition of 45 and 35 is = 80

### print result with string

In [9]:
name = "aniket"
age  = 25
city = 'Hydrabad'

print('Hello my name is',name,'and i am',age,'years old from',city)

Hello my name is aniket and i am 25 years old from Hydrabad

### print format method

In [11]:
num1 = 25
num2 = 35

add = num1 + num2
print('The addition of  {} and {} is {}'.format(num1,num2,add))

The addition of  25 and 35 is 60

* first decide how the print statement should be 
* like:- The addition of 40 and 50 is = 90  
* then replace the variable position with curly bracket { } 
* then appply .format(val1,val2,....val-n method

In [12]:
name = 'aniket'
age = 26
city = 'hydrabad'
print('Hello my name is {} i am {} years old from city {}'.format(name,age,city))

Hello my name is aniket i am 26 years old from city hydrabad

In [13]:
num1 = 85
num2 = 70
num3 = 68

avg = (num1+num2+num3)/3 # or we can use avg = round((num1+num2+num3)/3,2)
avg1 = round((num1+num2+num3)/3,2)

# The average of num1,num2 and num3 is = avg
print('The average of {},{} and {} is {} or {}'.format(num1,num2,num3,avg,avg1))

The average of 85,70 and 68 is 74.33333333333333 or 74.33

In [14]:
round(avg,2) #round of till 2 dugit after decimal

74.33

### More short format meythod(f string method) 
* variable should be in curly braces  and write everything inside quots '' at starting simpaly add f

In [15]:
num1 = 30
num2 = 78
add = num1 + num2
print(f'The addition of {num1} and {num2} is {add}') # always prefer this method for formating

The addition of 30 and 78 is 108

In [16]:
name = 'Aniket'
age = 25
city = 'hydrabad'

print(f'My name is {name} and I am {age} years old from {city}')

My name is Aniket and I am 25 years old from hydrabad

In [18]:
num1 = 250
num2 = 340
num3 = 420
avg = round((num1 + num2 + num3)/3,2)
print(f'The average of {num1},{num2} and {num3} is {avg}')

The average of 250,340 and 420 is 336.67

In [22]:
### Combine each formating method
num1 = 40
num2 = 50

add = num1 + num2
print('The addition of',num1,'and',num2,'is',add)
print('The addition of {} and {} is {}'.format(num1,num2,add))
print(f'The addition of {num1} and {num2} is {add}')

The addition of 40 and 50 is 90
The addition of 40 and 50 is 90
The addition of 40 and 50 is 90

# end Statement

In [23]:
print('Hello') # 1st statement
print('good morning') # 2nd Statement

# print :- Hellow good morning

Hello
good morning

* Here we use end statement that joint line from end of one string to starting of other string

In [25]:
print('Hello',end = ' ') # 1st statement
print('good morning') # 2nd statement

Hello good morning

## seperator 
 
* Here we use only one statement, inside one print statement we have multiple values and if we have to sepearate these multiple values with anything we use seperator

In [26]:
print('Hello','everyone','How are you',sep='--->')

Hello--->everyone--->How are you

In [29]:
print('Hello','student','how are you',sep= ' & ')

Hello & student & how are you

In [30]:
print('Hello','student','how are you',sep= ' @ ')

Hello @ student @ how are you

In [33]:
print('Hello','student','how are you',sep= ' ')

Hello student how are you

In [34]:
print(3,'.') # here . is far from  3 so here we will use sep method

3 .

In [38]:
print(3,'.',sep='') # see now space setteld(sep is also use to remove space b/w words)

3.

In [42]:
print(1,2,end = ' ')
print(3,'.',sep='')

1 2 3.

1.