# Tuples 
1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot 
change the elements of a tuple once assigned. 
2. When we do not want to change the data over time, tuple is a preferred data type. 
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

# Tuple Creation

In [4]:
tup1 = ()
tup1

()

In [5]:
tup2 = (30,40,60)
tup2

(30, 40, 60)

In [6]:
tup3 = (25.76,35.87,87.33)
tup3

(25.76, 35.87, 87.33)

In [7]:
tup4 = ('one','two','three')
tup4

('one', 'two', 'three')

In [8]:
tup5 = ('Amit',30,(78,95),(50,80))
tup5

('Amit', 30, (78, 95), (50, 80))

In [9]:
tup6 = (150,'Ajit',68.90)
tup6

(150, 'Ajit', 68.9)

In [10]:
tup7 = ('Abhi',30,[50,80],[20,250],{'Akhil','Rohit'},(73,85,98))
tup7

('Abhi', 30, [50, 80], [20, 250], {'Akhil', 'Rohit'}, (73, 85, 98))

In [11]:
len(tup7)

6

In [12]:
# Tuple indexing
tup2[0]

30

In [13]:
tup4[2]

'three'

In [14]:
tup4[2][0:4]

'thre'

In [15]:
tup4[-5:-1]

('one', 'two')

In [16]:
tup5[-1]

(50, 80)

# Tuple Slicing

In [18]:
mytup = ('one','two','three','four','five','six','seven','eight')
mytup

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [19]:
len(mytup)

8

In [20]:
mytup[0:4]

('one', 'two', 'three', 'four')

In [22]:
mytup[3][0:2]

'fo'

In [23]:
mytup[:3]

('one', 'two', 'three')

In [26]:
mytup[-3:]

('six', 'seven', 'eight')

In [28]:
mytup[-2:]

('seven', 'eight')

In [32]:
mytup[::-1]

('eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one')

In [33]:
mytup[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove and Change Items

In [34]:
mytup

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [35]:
del mytup[0]  # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [36]:
mytup[0] = 5 # Tuples are immutable which means we can't change tuple element

TypeError: 'tuple' object does not support item assignment

In [37]:
del mytup # We cant delete any element of the tuple but we can delete the whole tuple

In [38]:
mytup

NameError: name 'mytup' is not defined

# Loop through a tuple

In [39]:
mytup = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [40]:
for i in mytup:
    print(i)

one
two
three
four
five
six
seven
eight

In [41]:
for i in enumerate(mytup):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Count

In [42]:
mytup

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [47]:
mytup1  = ('one', 'two', 'one', 'four', 'five', 'one', 'two', 'two')

In [50]:
mytup1.count('one') # Number of times item "one" occured in the tuple.

3

In [51]:
mytup1.count('two')

3

In [52]:
mytup1.count('four')

1

# Tuple Membership

In [54]:
mytup

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [55]:
'two' in mytup  # Check if 'one' exist in the list

True

In [56]:
'nine' in mytup

False

In [57]:
if 'two' in mytup:
    print('Two is present in the tuple')
else:
    print('Two is not present in the tuple')

Two is present in the tuple

# Index position

In [58]:
mytup

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [59]:
mytup.index('one')

0

In [60]:
mytup.index('six')

5

# Sorting

In [61]:
tup3

(25.76, 35.87, 87.33)

In [62]:
sorted(tup3)

[25.76, 35.87, 87.33]

In [63]:
sorted(tup3,reverse = True)

[87.33, 35.87, 25.76]

# Sets
1) Unordered & Unindexed collection of items. 
2) Set elements are unique. Duplicate elements are not allowed. 
3) Set elements are immutable (cannot be changed). 
4) Set itself is mutable. We can add or remove items from it.

## Set creation

In [65]:
myset = {2,4,5,7}
myset

{2, 4, 5, 7}

In [66]:
len(myset)

4

In [67]:
set1  ={1,2,2,1,4,5,5} # Duplicate elements are not allowed in test
set1

{1, 2, 4, 5}

In [68]:
set2 = {23.33,45.98,56.90,4.89,8.5}
set2

{4.89, 8.5, 23.33, 45.98, 56.9}

In [70]:
set3 = {'Amit','Ajay','Vijay','Ravi'} # set of strings

In [71]:
set4 = {10,20,'Ani',(15,28,59)} # Mixed set datatypes

In [72]:
set4

{(15, 28, 59), 10, 20, 'Ani'}

In [75]:
set4  = {10,20,'Ani',[15,28,59]} #  set doesn't allow mutable items like lists 
set4

TypeError: unhashable type: 'list'

In [76]:
set5 = set()
print(type(set5))

<class 'set'>

In [77]:
myset1 = set(('one','two','three','four'))
myset1

{'four', 'one', 'three', 'two'}

# Loop through set

In [79]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for i in myset:
    print(i)

five
six
three
four
one
eight
two
seven

In [80]:
for i in enumerate(myset):
    print(i)

(0, 'five')
(1, 'six')
(2, 'three')
(3, 'four')
(4, 'one')
(5, 'eight')
(6, 'two')
(7, 'seven')

# Set membership

In [81]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [82]:
'five' in myset

True

In [83]:
'ten' in myset

False

In [84]:
'ten' not in myset

True

In [85]:
if 'two' in myset:
    print('Two is present in the set')

else:
    print('Two is not present in the set')

Two is present in the set

In [88]:
if 'eleven' in myset:
    print('Eleven is present in the set')

else:
    print('Eleven is not present in the set')

Eleven is not present in the set

# Add and Remove Items

In [89]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [90]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [91]:
myset.update(['ten','eleven','twelve'])
myset

{'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [92]:
myset.remove('nine')

In [93]:
myset

{'eight',
 'eleven',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [94]:
myset.clear()

In [95]:
myset

set()

In [96]:
del myset

In [97]:
myset

NameError: name 'myset' is not defined

# Copy Set

In [99]:
myset  = {'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [104]:
myset2 = myset
myset2

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [105]:
id(myset)

2968238986112

In [106]:
id(myset2)

2968238986112

In [107]:
my_set = myset.copy()
my_set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [108]:
id(my_set)

2968240143744

In [109]:
myset.add('ten')

In [111]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'ten', 'three', 'two'}

In [112]:
myset2

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'ten', 'three', 'two'}

In [113]:
my_set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

# Set Operation

In [114]:
a = {20,30,40,50,50}
b = {40,50,60,70,80}
c = {80,90,100}

In [115]:
a | b # Unioun

{20, 30, 40, 50, 60, 70, 80}

In [116]:
a.union(b)

{20, 30, 40, 50, 60, 70, 80}

In [117]:
a.union(b,c)

{20, 30, 40, 50, 60, 70, 80, 90, 100}

In [118]:
a.update(b)

In [119]:
a

{20, 30, 40, 50, 60, 70, 80}

In [120]:
a.update(c)

In [121]:
a

{20, 30, 40, 50, 60, 70, 80, 90, 100}

# Intersection

In [129]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [130]:
A & B

{4, 5}

In [131]:
A.intersection(B)

{4, 5}

In [125]:
B.intersection(a)

set()

In [132]:
A.intersection_update(B)
A

{4, 5}

# Difference

In [134]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [135]:
A - B

{1, 2, 3}

In [136]:
A.difference(B)

{1, 2, 3}

In [137]:
B - A

{6, 7, 8}

In [138]:
B.difference(A)

{6, 7, 8}

In [139]:
B.difference_update(A)

In [140]:
B

{6, 7, 8}

# Symmetric Difference

In [141]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [142]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [143]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [144]:
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}

In [145]:
A.symmetric_difference_update(B)

In [146]:
A

{1, 2, 3, 6, 7, 8}

# Subset, Superset and Disjoint

In [147]:
A = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [148]:
A.issubset(B)

False

In [149]:
B.issubset(A)

True

In [150]:
A.issuperset(B)

True

In [151]:
A.issuperset(C)

False

In [152]:
C.issubset(A)

False

In [154]:
B.isdisjoint(A)

False

In [155]:
C.isdisjoint(A)

True

In [156]:
A =  {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [157]:
sum(A)

45

In [158]:
max(A)

9

In [159]:
min(A)

1

In [160]:
len(A)

9

In [161]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [162]:
D = sorted(A,reverse  = True)

In [163]:
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [164]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary 
* Dictionary is a mutable data type in Python. 
*  A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}. 
* Keys must be unique in a dictionary, duplicate values are allowed.

In [165]:
dict = dict()
dict

{}

In [167]:
dict1  = {}
dict1

{}

In [168]:
dict2 = {1:'one',2:'two',3:'Three',4:'Four'} # Dictionary with integer keys
dict2

{1: 'one', 2: 'two', 3: 'Three', 4: 'Four'}

In [169]:
dict2.keys()

dict_keys([1, 2, 3, 4])

In [170]:
dict2.values()

dict_values(['one', 'two', 'Three', 'Four'])

In [171]:
dict2.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'Three'), (4, 'Four')])

In [172]:
mydict = {1:'one',2:'two','A':['Amit','Rahul','Raj']}
mydict

{1: 'one', 2: 'two', 'A': ['Amit', 'Rahul', 'Raj']}

In [173]:
mydict = {1:'one',2:'two','A':['Amit','Rahul','Raj'],'B':('Cricket','Football','Scocer')}
mydict

{1: 'one',
 2: 'two',
 'A': ['Amit', 'Rahul', 'Raj'],
 'B': ('Cricket', 'Football', 'Scocer')}

In [175]:
keys = {'a','b','c','d'}
mydict1 = dict.fromkeys(keys)
mydict1

{'c': None, 'b': None, 'a': None, 'd': None}

In [176]:
keys = {'a','b','c','d'}
value = 10
mydict1 = dict.fromkeys(keys,value)
mydict1

{'c': 10, 'b': 10, 'a': 10, 'd': 10}

In [181]:
keys = {'a','b','c','d'}
values  = [10,20,30]
mydict2 = dict.fromkeys(keys,values) # Pass variable name of key and value
mydict2

{'c': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30], 'd': [10, 20, 30]}

In [183]:
values.append(40)
mydict2

{'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

# Accessing Items

In [185]:
dict2

{1: 'one', 2: 'two', 3: 'Three', 4: 'Four'}

In [186]:
dict2[1]

'one'

In [187]:
dict2.get(1)

'one'

In [192]:
dict1 = {'Name':'Abhi','ID':2345,'DOB':1999,'Job':'Analyst'}
dict1

{'Name': 'Abhi', 'ID': 2345, 'DOB': 1999, 'Job': 'Analyst'}

In [193]:
dict1.get('Name')

'Abhi'

In [195]:
dict1.get('Job')

'n'

In [200]:
dict1.get('Name')

'Abhi'

# Add remove and Change Items

In [201]:
mydict = {'Name':'Anish','ID':1233,'DOB':1995,'Address':'Delhi'}
mydict

{'Name': 'Anish', 'ID': 1233, 'DOB': 1995, 'Address': 'Delhi'}

In [202]:
mydict['DOB'] = 1998
mydict['Adress'] = 'Mumbai'
mydict

{'Name': 'Anish',
 'ID': 1233,
 'DOB': 1998,
 'Address': 'Delhi',
 'Adress': 'Mumbai'}

In [203]:
dict = {'DOB':1999}
mydict.update(dict)
mydict

{'Name': 'Anish',
 'ID': 1233,
 'DOB': 1999,
 'Address': 'Delhi',
 'Adress': 'Mumbai'}

In [204]:
mydict['Job'] = 'Analyst'  # Adding items in the dictionary
mydict

{'Name': 'Anish',
 'ID': 1233,
 'DOB': 1999,
 'Address': 'Delhi',
 'Adress': 'Mumbai',
 'Job': 'Analyst'}

In [205]:
mydict.pop('Job') # Removing items in the dictionary using Pop method

'Analyst'

In [207]:
mydict.pop() # pop expected at least 1 argument, got 0

TypeError: pop expected at least 1 argument, got 0

In [208]:
mydict.popitem()

('Adress', 'Mumbai')

In [209]:
mydict

{'Name': 'Anish', 'ID': 1233, 'DOB': 1999, 'Address': 'Delhi'}

In [211]:
del[mydict['ID']]
mydict

{'Name': 'Anish', 'DOB': 1999, 'Address': 'Delhi'}

In [212]:
mydict.clear()

In [213]:
mydict

{}

In [214]:
del mydict

In [215]:
mydict

NameError: name 'mydict' is not defined

# Copy Dictionary

In [228]:
mydict5 = {'Name': 'Anish', 'ID': 1233, 'DOB': 1999, 'Address': 'Delhi'}
mydict5

{'Name': 'Anish', 'ID': 1233, 'DOB': 1999, 'Address': 'Delhi'}

In [229]:
mydict6 = mydict5

In [230]:
id(mydict5)

2968240335040

In [231]:
id(mydict6)

2968240335040

In [232]:
mydict7 = mydict5.copy() # Create a copy of the dictionary

In [233]:
id(mydict7)

2968240561152

In [234]:
mydict5['Address'] = 'Hydrabad'

In [235]:
mydict5

{'Name': 'Anish', 'ID': 1233, 'DOB': 1999, 'Address': 'Hydrabad'}

In [236]:
mydict6

{'Name': 'Anish', 'ID': 1233, 'DOB': 1999, 'Address': 'Hydrabad'}

In [237]:
mydict7

{'Name': 'Anish', 'ID': 1233, 'DOB': 1999, 'Address': 'Delhi'}

# Loop Through Dictionary

In [239]:
mydict6 = {'Name': 'Anish', 'ID': 1233, 'DOB': 1999, 'Address': 'Hydrabad'}
mydict6

{'Name': 'Anish', 'ID': 1233, 'DOB': 1999, 'Address': 'Hydrabad'}

In [240]:
for i in mydict6:
    print(i)

Name
ID
DOB
Address

In [241]:
for i in mydict6:
    print(i, ':', mydict6[i])

Name : Anish
ID : 1233
DOB : 1999
Address : Hydrabad

# Dictionary Membership

In [243]:
dict1 = {'Name':'Abhi','ID':2345,'DOB':1999,'Job':'Analyst'}
dict1

{'Name': 'Abhi', 'ID': 2345, 'DOB': 1999, 'Job': 'Analyst'}

In [244]:
'Name' in dict1

True

In [246]:
'Job' in  dict1

True

In [247]:
'Job' not in dict1

False

# All / Any 
### The all() method returns: 
* True - If all all keys of the dictionary are true 
* False - If any key of the dictionary is false 
### The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [248]:
dict1 = {'Name':'Abhi','ID':2345,'DOB':1999,'Job':'Analyst'}
dict1

{'Name': 'Abhi', 'ID': 2345, 'DOB': 1999, 'Job': 'Analyst'}

In [249]:
all(dict1)

True

In [250]:
any(dict1)

True