In [ ]:
if True:
    print('Data Science')

In [ ]:
if False:
    print('Data Science')
print('Data Engineer')

In [ ]:
if True:
    print('Data Science')
print('Data Engineer')

In [ ]:
if True:
    print('Data Science')
else:
    print('Data Engineer')

In [ ]:
if False:
    print('Data Science')

else:
    print('Data Engineer')

# Programs

In [ ]:
x = 6
r = x % 2

if r == 0:
    print('Even Number')

In [ ]:
x = 5
r = x % 2

if r == 0:
    print('Even Number')

In [ ]:
x = 7
r = x % 2

if r == 0:
    print('Even number')

if r == 1:
    print('Odd number')

In [ ]:
x = 7 
r = x % 2

if r == 0:
    print('Even number')

if r != 0:
    print('Odd number')

In [ ]:
x = 3
r = x % 2

if r == 0:
    print('Even number')
    if x > 5:
        print('greater number')
else:
    print('Odd number')

In [ ]:
x = 10
r = x % 2

if r == 0:
    print('Even number')
    if x > 5:
        print('Greater Number')
    else:
        print("Not Greater")
else:
    print('Odd number')

In [ ]:
x = 2

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')

if x == 4:
    print('Four')

In [ ]:
num = int(input("ENter your number"))

if num == 1:
    print('one')
elif num == 2:
    print('Two')
elif num == 3:
    print('Three')
elif num == 4:
    print('Four')
else:
    print('Number not found')

# Loops in Python

In [ ]:
print('Data Science')
print('Data Science')
print('Data Science')
print('Data Science')
print('Data Science')

In [ ]:
i = 1

while i <= 5:
    print('Data science')
    i = i + 1

In [ ]:
i = 5

while i >=1:
    print('Data Science')
    i = i - 1