In [1]:
if True:
    print('Data Science')

Data Science

In [2]:
if False:
    print('Data Science')
print('Data Engineer')

Data Engineer

In [3]:
if True:
    print('Data Science')
print('Data Engineer')

Data Science
Data Engineer

In [4]:
if True:
    print('Data Science')
else:
    print('Data Engineer')

Data Science

In [5]:
if False:
    print('Data Science')

else:
    print('Data Engineer')

Data Engineer

# Programs

In [6]:
x = 6
r = x % 2

if r == 0:
    print('Even Number')

Even Number

In [7]:
x = 5
r = x % 2

if r == 0:
    print('Even Number')

In [8]:
x = 7
r = x % 2

if r == 0:
    print('Even number')

if r == 1:
    print('Odd number')

Odd number

In [9]:
x = 7 
r = x % 2

if r == 0:
    print('Even number')

if r != 0:
    print('Odd number')

Odd number

In [10]:
x = 3
r = x % 2

if r == 0:
    print('Even number')
    if x > 5:
        print('greater number')
else:
    print('Odd number')

Odd number

In [11]:
x = 10
r = x % 2

if r == 0:
    print('Even number')
    if x > 5:
        print('Greater Number')
    else:
        print("Not Greater")
else:
    print('Odd number')

Even number
Greater Number

In [12]:
x = 2

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')

if x == 4:
    print('Four')

Two

In [13]:
num = int(input("ENter your number"))

if num == 1:
    print('one')
elif num == 2:
    print('Two')
elif num == 3:
    print('Three')
elif num == 4:
    print('Four')
else:
    print('Number not found')

ENter your number 7

Number not found

# Loops in Python

In [14]:
print('Data Science')
print('Data Science')
print('Data Science')
print('Data Science')
print('Data Science')

Data Science
Data Science
Data Science
Data Science
Data Science

In [15]:
i = 1

while i <= 5:
    print('Data science')
    i = i + 1

Data science
Data science
Data science
Data science
Data science

In [16]:
i = 5

while i >= 1:
    print('Data Science')
    i = i - 1

Data Science
Data Science
Data Science
Data Science
Data Science

In [18]:
i = 1

while i <= 5:
    print('Data Scinece',i)

    i = i + 1 # Incremental

Data Scinece 1
Data Scinece 2
Data Scinece 3
Data Scinece 4
Data Scinece 5

In [19]:
i = 5
while i >= 1:
    print('Data Science:',i)
    i = i - 1 # Decrement

Data Science: 5
Data Science: 4
Data Science: 3
Data Science: 2
Data Science: 1

In [20]:
i = 1

while i <= 5:
    print('Data Science')
    j = 1
    while j <=4:
        print('Technology')
        j = j + 1
    i = i + 1
    print()

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

In [21]:
i = 1 
while i <= 5:
    print('Data Science',end = "")
    j = 1
    while j <= 4:
        print(' technology',end="")
        j = j + 1
    i = i + 1
    print()

Data Science technology technology technology technology
Data Science technology technology technology technology
Data Science technology technology technology technology
Data Science technology technology technology technology
Data Science technology technology technology technology

In [22]:
# lets use while loop usig some numbers

i = 1
while i <= 4:
    j = 0
    while j <= 3:
        print(i * j,end = " ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [23]:
name = 'Aniket'
for i in name:
    print(i)

A
n
i
k
e
t

In [24]:
name1 = [1,3.5,'Aniket']
for i in name1:
    print(i)

1
3.5
Aniket

In [26]:
for i in [5,2,9.2,'Ani']:
    print(i)

5
2
9.2
Ani

In [28]:
for i in range(10):
    print(i,end = " ")

0 1 2 3 4 5 6 7 8 9

In [29]:
for i in range(1,11,3):
    print(i)

1
4
7
10

In [30]:
for i in range(1,51):
    if i % 5 == 0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [33]:
for i in range(1,51):
    if i % 5 != 0:
        print(i,end = " ")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49

In [34]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [35]:
for i in range(1,11):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [36]:
for i in range(1,21):
    if i == 13:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12

In [37]:
for i in range(1,21):
    if i == 12:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
10
11
13
14
15
16
17
18
19
20

In [39]:
for i in range(1,11):
    if i == 8:
        continue
    print('Hello',i)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 9
Hello 10

In [40]:
for i in range(1,11):
    pass

In [43]:
for i in range(1,51):
    if i%3 == 0:
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [46]:
for i in range(1,50):
    if i%3 == 0:
        continue
    print(i,end = ' ')
print('end')

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 end

In [48]:
for i in range(1,51):
    if i%3 == 0 or i % 5 == 0:
        continue
    print(i,end = " ")
print('end')

1 2 4 7 8 11 13 14 16 17 19 22 23 26 28 29 31 32 34 37 38 41 43 44 46 47 49 end

In [49]:
for i in range(1,51):
    if i % 3 == 0 and i % 5 == 0:
        continue
    print(i,end = ' ')
print('End')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 16 17 18 19 20 21 22 23 24 25 26 27 28 29 31 32 33 34 35 36 37 38 39 40 41 42 43 44 46 47 48 49 50 End

In [50]:
for i in range(1,51):
    if (i % 2 == 0):
        pass
    else:
        print(i)
print('End')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
End

In [1]:
for i in range(4):
    print('#', end = ' ')

# # # #

In [4]:
for i in range(4):
    print('#', end = ' ')
print()

for i in range(4):
    print('#', end = ' ')

# # # #
# # # #

In [6]:
for i in range(4):
    print('#', end = ' ')
print()

for i in range(4):
    print('#', end = ' ')
print()

for i in range(4):
    print('#', end = ' ')
print()

for i in range(4):
    print('#', end = ' ')

# # # #
# # # #
# # # #
# # # #

In [7]:
for i in range(5):
    for j in range(5):
        print('#',i,end = " ")
    print()

# 0 # 0 # 0 # 0 # 0
# 1 # 1 # 1 # 1 # 1
# 2 # 2 # 2 # 2 # 2
# 3 # 3 # 3 # 3 # 3
# 4 # 4 # 4 # 4 # 4