### How to use the for loop in Python
* In Python, the for loop is used to iterate over a sequence (such as a list, tuple,
string, or dictionary) or any iterable object. The basic syntax of the for loop is:
Python For Loop Syntax

* Python For Loop Syntax

In [ ]:
for var in iterable:
    # statements

* Note: In Python, for loops only implement the collection-based iteration.
Here we will see Python for loop examples with different types of iterables:

### Python For Loop with string

* This code uses a for loop to iterate over a string and print each character on a
new line. The loop assigns each character to the variable i and continues until
all characters in the string have been processed.

In [8]:
print('String Iteration')

s = "Python"
for i in s:
    print(i)

String Iteration
P
y
t
h
o
n

### Python for loop with Range
* This code uses a Python for loop with index in conjunction with the range()
function to generate a sequence of numbers starting from 0, up to (but not
including) 10, and with a step size of 2. For each number in the sequence, the
loop prints its value using the print() function. The output will show the
numbers 0, 2, 4, 6, and 8.

In [9]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

### Python for loop Enumerate
* In Python, the enumerate() function is used with the for loop to iterate over
an iterable while also keeping track of the index of each item.

In [12]:
lst = ['Python','Programming','Language']

for count,ele in enumerate(lst):
    print(count,ele)

0 Python
1 Programming
2 Language

### Nested For Loops in Python
* This code uses nested for loops to iterate over two ranges of numbers (1 to 3
inclusive) and prints the value of i and j for each combination of the two loops.
The inner loop is executed for each value of i in the outer loop. The output of
this code will print the numbers from 1 to 3 three times, as each value of i is
combined with each value of j.

In [15]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Python For Loop Over List
* This code uses a for loop to iterate over a list of strings, printing each item in
the list on a new line. The loop assigns each item to the variable I and continues
until all items in the list have been processed

In [16]:
l = ['Python','for','loops']
for i in l:
    print(i)

Python
for
loops

### Python for loop in One Line

In [17]:
Numbers = [x for x in range(11)]
print(Numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Python For Loop with Dictionary
* This code uses a for loop to iterate over a dictionary and print each key-value
pair on a new line. The loop assigns each key to the variable i and uses string
formatting to print the key and its corresponding value.

In [20]:
d = dict()
d['xyz']  = 123
d['abc'] = 345

for i in d:
    print(f'{i} {d[i]}')

xyz 123
abc 345

### Python For Loop with Tuple
* This code iterates over a tuple of tuples using a for loop with tuple unpacking.
In each iteration, the values from the inner tuple are assigned to variables a
and b, respectively, and then printed to the console using the print() function.
The output will show each pair of values from the inner tuples.

In [23]:
tup = ((1,2),(3,4),(5,6))

for a in tup:
    print(a)

for a,b in tup:
    print(a,b)

(1, 2)
(3, 4)
(5, 6)
1 2
3 4
5 6

### Python For Loop with Zip()
* This code uses the zip() function to iterate over two lists (fruits and colors) in
parallel. The for loop assigns the corresponding elements of both lists to the
variables fruit and color in each iteration. Inside the loop, the print() function is
used to display the message “is” between the fruit and color values. The
output will display each fruit from the list of fruits along with its corresponding
color from the colours list.

In [24]:
name = ["Aniket","Rahul","Sohan"]
city = ["Hydrabad","Mumbai","Delhi"]

for name,city in zip(name,city):
    print(name, ':', city)

Aniket : Hydrabad
Rahul : Mumbai
Sohan : Delhi

### Control Statements that can be used with For Loop in Python
* Loop control statements change execution from their normal sequence. When
execution leaves a scope, all automatic objects that were created in that scope
are destroyed. Python supports the following control statements.
Continue in Python For Loop
* Python continue Statement returns the control to the beginning of the loop

In [25]:
for letter in 'PythonProgramming':
    if letter == 'h' or letter == 'r':
        continue
    print('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n
Current Letter : P
Current Letter : o
Current Letter : g
Current Letter : a
Current Letter : m
Current Letter : m
Current Letter : i
Current Letter : n
Current Letter : g

### Break in Python For Loop
* Python break statement brings control out of the loop

In [27]:
for letter in 'PythonProgramming':
    if letter  == 'r':
        break
    print('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n
Current Letter : P

### For Loop in Python with Pass Statement
* The pass statement to write empty loops. Pass is also used for empty control
statements, functions, and classes

In [31]:
for letter in "PythonProgramming":
    pass

print(letter)

g

### For Loops in Python with Else Statement
* Python also allows us to use the else condition for loops. The else block just
after for/while is executed only when the loop is NOT terminated by a break
statement

In [32]:
for i in range(1,5):
    print(i)

else:
    print("end")

1
2
3
4
end

### Python For Loop Exercise Questions
* Below are two Exercise Questions on Python for-loops. We have covered
continue statement and range() function in these exercise questions.

### Q1. Code to implement Continue statement in for-loop

In [34]:
clothes = ['Shirt','sock','paints','sock','towel']
paired_socks = []
for item in clothes:
    if item == 'sock':
        continue
    else:
        print(f'washing {item}')
paired_socks.append("Socks")
print(f'washing {paired_socks}')

washing Shirt
washing paints
washing towel
washing ['Socks']

### Q2. Code to implement range function in for-loop

In [36]:
for day in range(1,7):
    distance = 3 + (day - 1) * 0.5
    print(f'Day {day}: Run {distance:.1f} miles')

Day 1: Run 3.0 miles
Day 2: Run 3.5 miles
Day 3: Run 4.0 miles
Day 4: Run 4.5 miles
Day 5: Run 5.0 miles
Day 6: Run 5.5 miles

# PYTHON LOOP Q & A

## Section - A

### 1. What is the purpose of the while loop in Python?
- a) To execute a block of code repeatedly until a condition is false
- b) To execute a block of code a fixed number of times
- c) To define a function
- d) To iterate over items in a sequence

In [ ]:
Ans - a

### 2. What is the syntax for a while loop in Python?
- a) while condition:
- b) while condition():
- c) while (condition):
- d) while loop condition:

In [ ]:
Ans - a

### 3. How can you exit a loop prematurely in Python?
- a) Using the break statement
- b) Using the continue statement
- c) Using the pass statement
- d) Using the exit function

In [ ]:
Ans - a

### 4. What is the purpose of the for loop in Python?
- a) To execute a block of code repeatedly until a condition is false
- b) To iterate over items in a sequence
- c) To execute a block of code a fixed number of times
- d) To define a function

In [ ]:
Ans - b

### 5. What is the syntax for a for loop in Python?
- a) for item in sequence
- b) for item in range(n):
- c) for index in range(len(sequence)):
- d) All of the above

In [ ]:
Ans - d

In [ ]:
### 6. What will the following code snippet print?
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
print(fruit)

- a) apple banana cherry
- b) [“apple”, “banana”, “cherry”]
- c) 0 1 2
- d) No output

In [40]:
Ans - a

apple
banana
cherry

### 7. How can you skip the current iteration of a loop and continue with the next iteration?
- a) Using the skip statement
- b) Using the pass statement
- c) Using the break statement
- d) Using the continue statement

In [ ]:
Ans - d

### 8. What is the purpose of the range() function in Python?
- a) To generate a sequence of numbers
- b) To iterate over items in a sequence
- c) To define a function
- d) To execute a block of code repeatedly until a condition is false

In [ ]:
Ans - a

### 9. What will the following code snippet print?
- for i in range(3):
-    print(i)
- a) 0 1 2
- b) 1 2 3
- c) 2 1 0
- d) 3 2 1 0

In [ ]:
Ans - a

### 10. What will be the output of the following code?
- a) 1 2
- b) 1 2 3
- c) 1 2 4 5
- d) 1 2 4

In [ ]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

In [ ]:
Ans - c

### 11. What will be the output of the following code?

In [ ]:
for i in range(3):
    for j in range(3):
        print(i + j, end=' ')
    print()

### 12. What will be printed by the following code?
- a) 5 4 3 2 1
- b) 5 4
- c) Done
- d) 5 4 3

In [ ]:
num = 5
while num > 0:
    print(num)
    num -= 1
    if num == 3:
    break
else:
    print("Done")

In [ ]:
Ans - b

### 13. What is the output of the following code?

- a) A
- b) B
- c) C
- d) A and B

In [ ]:
x = 10
if x > 5:
    print("A")
elif x > 7:
     print("B")
else:
    print("C")

In [ ]:
Ans - a

### 14. What will be the output of the following code?
- a) 5 3 1
- b) 5 3
- c) 5 3 Done
- d) 5 3 1 Done

In [ ]:
x = 5
while x > 0:
    print(x, end=" ")
    x -= 2
    if x == 1:
    break
else:
    print("Done")

In [ ]:
Ans - d

### 15. What is the output of the following code?

- a) 0 1 3 4
- b) 0 1 2 3 4
- c) 0 1 3 4 5
- d) 0 1 2 3 4 5

In [ ]:
for i in range(5):
    if i == 2:
     continue
     print(i, end=" ")

In [ ]:
Ans - a

### 16. What is the output of the following code?
- a) 0 1 2 3 4 5
- b) 0 1 2 3 4 Loop completed.
- c) Loop completed.
- d) This code will result in an error

In [ ]:
num = 0
while num < 5:
    print(num)
    num += 1
else:
    print("Loop completed.")

In [ ]:
Ans - b

### 17. What will be the output of the following code?
- a)
  - Greater than 5
  - Greater than 8
  - Equal or less than 12
- b)
  - Greater than 5
  - Greater than 8
  - Greater than 12
  - Equal or less than 12
- c)
  - Greater than 5
  - Greater than 8
- d) Equal or less than 12

In [ ]:
x = 10
if x > 5:
    print("Greater than 5")
if x > 8:
    print("Greater than 8")
if x > 12:
    print("Greater than 12")
else:
    print("Equal or less than 12")

In [ ]:
Ans - a

### 18. What will be the output of the following code?

In [ ]:
for i in range(3):
    for j in range(3):
        print(i * j, end=' ')
    print()

0 0 0
0 1 2
0 2 4

### 19. What will be the output of the following code?

- a) 10 7 4 1 Loop completed.
- b) 10 7 4 1
- c) Loop completed.
- d) This code will result in an error.

In [ ]:
num = 10
while num > 0:
    print(num)
    num -= 3
else:
    print("Loop completed.")

In [ ]:
Ans - a

### 20. What will the following code snippet print?

- a) 0 1 2
- b) 1 2 3
- c) 2 
- d) 3 2 1 0

In [ ]:
for i in range(3):
    pass
print(i)

In [ ]:
Ans - c

### 21. What is the purpose of the pass statement in Python?
- a) To exit from a loop prematurely
- b) To skip the current iteration of a loop
- c) To execute a block of code if a condition is false
- d) To do nothing and act as a placeholder

In [ ]:
Ans - d

### 22. What is the purpose of the else block in a loop in Python?
- a) To execute if the loop encounters an error
- b) To execute if the loop completes without encountering a break statement
- c) To execute if the loop encounters a continue statement
- d) To execute if the loop encounters a pass statement

In [ ]:
Ans - b

### 23. What is the output of the following code?

- a) Hey
- b) Hi
- c) Hello
- d) Hello, Hi

In [ ]:
x = 10
if x > 5:
    print("Hello")
elif x > 8:
    print("Hi")
else:
    print("Hey")

In [ ]:
Ans - c

### 24. What is the output of the following code?

- a) \n2\n\n4\n*
- b) *\n2\n*\n4\n*\n
- c) \n2\n\n*\n4\n
- d) \n\n2\n*\n4\n

In [ ]:
for i in range(1, 6):
    if i % 2 == 0:
        print(i)
        continue
    print("*")

In [ ]:
Ans - b

### 25. What will be the output of the following code?

- a) 5\n4\n3\n2\n1\nDone
- b) Done\n5\n4\n3\n2\n1
- c) 5\n4\n3\n2\n1
- d) Done

In [ ]:
x = 5
while x > 0:
    print(x)
    x -= 1
else:
     print("Done")

In [ ]:
Ans - a

### 26. What will be the output of the following code?
- a) 1\n2
- b) 1\n2\n3\n4\n5\nLoop completed.
- c) 1\n2\n3\n4\n5
- d) 1\n2\n3

In [ ]:
for i in range(1, 6):
    if i == 3:
    break
    print(i)
else:
     print("Loop completed.")

In [ ]:
Ans - a

# Section - B

# Section C

### 1.Print numbers from 1 to 10 using a for loop:

In [3]:
for i in range(1,11):
    print(i,end =  ' ')

1 2 3 4 5 6 7 8 9 10

### 2. Calculate the sum of numbers from 1 to 10 using a for loop:

In [8]:
sum_number = 0

for i in range(1,11):
    sum_number += i

print(sum_number)

55

### 3. Print the elements of a list using a for loop:

In [17]:
fruits = ['Mango','Grapes','Papaya','Guava','Lichi']

for fruit in fruits:
    print(fruit, end = ' ')

Mango Grapes Papaya Guava Lichi

### 4. Calculate the product of elements in a list using a for loop:

In [20]:
product = [5,6,7,8]

product_num = 1
for num in product:
    product_num *= num

print(product_num)

1680

### 5. Print even numbers from 1 to 10 using a for loop:

In [23]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [21]:
for i in range(1,11):
    if  i % 2 == 0:
        print(i)

2
4
6
8
10

### 6. Print numbers in reverse from 10 to 1 using a for loop:

In [27]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 7. Print characters of a string using a for loop:

In [32]:
string = 'Python Programming'

for i in string:
    print(i,end = " ")

P y t h o n   P r o g r a m m i n g

### 8. Find the largest number in a list using a for loop:

In [33]:
lst1 = [10,20,40,60,70]
largest = lst1[0]
for num in lst1:
    if num > largest:
        largest = num

print(largest)

70

### 9. Find the average of numbers in a list using a for loop:

In [36]:
avg_lst = [10,20,30,40,50]

length = len(avg_lst)
sum_lst = 0

for item in avg_lst:
    sum_lst += item

average = sum_lst/length
print(average)

30.0

### 10.Print all uppercase letters in a string using a for loop:

In [38]:
string = "PythonPROGRamminG"

for letter in string:
    if letter.isupper():
        print(letter,end = ' ')

P P R O G R G

### 11.Count the number of vowels in a string using a for loop:

In [40]:
string  = 'Python Programming'
vowels = "aeiouAEIOU"
count = 0
for char in string:
    if char in vowels:
        count += 1

print(count)

4

### 12.Print a pattern of stars using nested for loops:

In [52]:
for i in range(6):
    for j in range(i + 1):
        print("*",end = ' ')

* * * * * * * * * * * * * * * * * * * * *

### 13.Calculate factorial of a number using a while loop:

In [53]:
num = int(input('Enter your number'))
factorial = 1

while num > 0:
    factorial *= num
    num -= 1

print(factorial)

Enter your number 5

120

### 14.Find the first occurrence of a number in a list using a while loop:

In [55]:
my_list = [5,8,9,11,19]

target = 11
index = 0

while index < len(my_list):
    if my_list[index] == target:
        break

    index += 1

else:
    index =-1

print(index)

3

### 15.Calculate the sum of numbers from 1 to 100 using a while loop

In [56]:
num = 1
sum_numbers = 0
while num <= 100:
    sum_numbers += num
    num += 1

print(sum_numbers)

5050

### 16.Find all prime numbers between 1 and 50 using nested for and if:

In [62]:
for num in range(1,51):
    for i in range(2,num):
        if num % i == 0:
            break

    else:
        print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

### 17.Print numbers divisible by 3 or 5 from 1 to 20 using a for loop:

In [63]:
for num in range(1,21):
    if num % 3 == 0 or num % 5 ==0:
        print(num)

3
5
6
9
10
12
15
18
20

### 18.Print a list of squares of numbers from 1 to 5 using a list comprehension:

In [67]:
squares = [num**2 for num in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

### 19.Print the Fibonacci sequence up to the 10th term using a while loop:

In [68]:
a,b = 0,1
count = 0
while count < 10:
    print(a,end = ' ')
    a,b = b, a+b
    count += 1

0 1 1 2 3 5 8 13 21 34

### 20.Find the common elements in two lists using a for loop:

In [69]:
list1 = [1,2,3,4,5,6]
list2 = [3,4,5,8,9,10]

common_list = []

for item in list1:
    if item in list2:
        common_list.append(item)

print(common_list)

[3, 4, 5]

### 21.Print numbers in a list until a negative number is encountered using a while loop:

In [70]:
list1 = [2,32,12,10,9,8,-9,-3,4,-7]
index = 0

while list1[index] >= 0:
    print(list1[index])
    index += 1

2
32
12
10
9
8

### 22.Print numbers from 1 to 5, except 3 using a for loop and continue statement:

In [71]:
for i in range(1,6):
    if i == 3:
        continue

    print(i)

1
2
4
5

### 23.Print numbers from 1 to 10. If a number is divisible by 4, stop the loop using a for loop and break statement:

In [74]:
for i in range(1,11):
    
    if i % 4 == 0:
        break
    print(i)

1
2
3

### 24.Print numbers from 1 to 10. If a number is even, skip it using a for loop and else clause:

In [75]:
for i in range(1,11):
    if i % 2 == 0:
        continue
    print(i)

else:
    print("Loop completed successfully")

1
3
5
7
9
Loop completed successfully

### 25.Print numbers from 1 to 10. If a number is even, break the loop using a for loop and else clause:

In [77]:
for i in range(1,11):
    if i % 2 == 0:
        break
    print(i)

else:
    print("Loop completed successfully")

1

# Section D