In [1]:
if True:
    print("Data Science")

Data Science

In [2]:
if False:
    print('Data Science')
print('bye for now')

bye for now

In [3]:
if True:
    print('Data Science')
print('bye for now')

Data Science
bye for now

In [4]:
if True:
    print('Data Science')
else:
    print('Bye for now')

Data Science

In [5]:
if False:
    print('Data Science')
else:
    print('Bye for now')

Bye for now

In [6]:
# Programs
x = 4
r = x % 2

if r == 0:
    print('Even number')

Even number

In [7]:
x = 5
r = x % 2

if r == 0:
    print('Even number')

In [8]:
x = 5
r = x % 2

if r == 0:
    print('Even number')

if r == 1:
    print('odd number')

odd number

In [9]:
x = 5
r = x % 2

if r == 0:
    print('Even number')
if r != 0:
    print('odd number')

odd number

In [10]:
x = 4 
r = x % 2

if r == 0:
    print('Even number')
else:
    print('Odd number')

Even number

In [13]:
x = 3

r = x % 2

if r == 0:
    print('Even number')
    if x > 5:
        print('Greater number')

else:
    print('Odd Number')

Odd Number

In [14]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    if x > 5:
        print('Greater number')
    else:
        print('Lesser number')

else:
    print('Odd Number')

Even number
Lesser number

In [15]:
x = 6

r = x % 2
if r == 0:
    print('Even number')
    if x > 5:
        print('Greater number')
    else:
        print('Lesser number')
        
else:
    print('Odd Number')

Even number
Greater number

In [16]:
x = 2

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('Four')

Two

In [18]:
x = 5

if x == 1:
    print('One')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('Four')

else:
    print('Number not found')

Number not found

In [19]:
# Loops in Python
print('data science')
print('data science')
print('data science')
print('data science')    
print('data science')

data science
data science
data science
data science
data science

In [22]:
i = 1

while i <= 5:
    print('Data Science')

    i = i + 1

Data Science
Data Science
Data Science
Data Science
Data Science

In [24]:
i = 1

while i <=5 :
    print('Data scince',i)

    i = i + 1 # increament

Data scince 1
Data scince 2
Data scince 3
Data scince 4
Data scince 5

In [25]:
i = 5 # initializing

while i >= 1:  # Condition
    print('Data scince',i)

    i = i - 1 # Decreament

Data scince 5
Data scince 4
Data scince 3
Data scince 2
Data scince 1

In [27]:
i = 1

while i <= 5:
    print('Data Science')
    j = 1
    while j <= 4:
        print('Technology')
        j = j + 1

    i = i + 1
    print()

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

In [37]:
i = 1
while i <= 5:
    print('Data Science', end = " ")
    j = 1
    while j <= 4:
        print(' Technology',end = "")
        j = j + 1

    i = i + 1
    print()

Data Science  Technology Technology Technology Technology
Data Science  Technology Technology Technology Technology
Data Science  Technology Technology Technology Technology
Data Science  Technology Technology Technology Technology
Data Science  Technology Technology Technology Technology

In [40]:
i = 1

while i <= 4:
    j = 0
    while j <=3 :
        print(i * j,end = " ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [41]:
name = "Aniket"

for i in name:
    print(i)

A
n
i
k
e
t

In [47]:
list1 = [1,4,6,8.7,'Hello']

for i in list1:
    print(i)

1
4
6
8.7
Hello

In [46]:
list1 = [1,4,6,8.7,'Hello']

for i in list1:
    print(i,end = " ")

1 4 6 7 Hello

In [52]:
for i in range(5):
    print(i,end = ' ')

0 1 2 3 4

In [53]:
for i in range(0,11,3):
    print(i)

0
3
6
9

In [54]:
for i in range(1,51):

    if i % 5 == 0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [56]:
for i in range(1,51):
    if i % 5 != 0:
        print(i,end = ' ')

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49

In [57]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [58]:
for i in range(1,11):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

In [59]:
for i in range(1,21):
    if i == 13:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
14
15
16
17
18
19
20

In [60]:
for i in range(1,11):
    if i == 5:
        continue
    print('Hello',i)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [61]:
for i in range(1,11):

SyntaxError: incomplete input (1116375593.py, line 2)

In [62]:
# For solving the above error we use pass if we have to put our code for future usage:

for i in range(1,11):
    pass

In [65]:
for i in range(1,51):
    if i % 3 == 0:
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [68]:
for i in range(1,50):
    if i % 3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
end

In [69]:
for i in range(1,51):
    if i % 3 == 0 or i % 5 == 0:
        continue
    print(i)
print('end')

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
end

In [74]:
for i in range(1,51):
    if i % 3 == 0 and i % 5 == 0:
        continue
    print(i)
print('end')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
40
41
42
43
44
46
47
48
49
50
end

In [75]:
for i in range(1,50):
    if (i % 2 == 0):
        pass
    else:
        print(i)
print('end')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
end

In [76]:
for i in range(4):
    print('#', end=' ')

# # # #

In [82]:
for i in range(4):
    for j in range(4):
        print('#', end=' ')
    print(i)

# # # # 0
# # # # 1
# # # # 2
# # # # 3

In [85]:
num = int(input('Enter your number'))

if num >= 80:
    print('Passed with 1st Distintion')
elif num >= 60:
    print('Passed with 1st division ')
elif num >= 50:
    print('Passed with 2nd division')
else:
    print('You failed')

Enter your number 20

You failed