# Tuple Creation 
* A tuple is an ordered, immutable collection of elements.
* Elements are enclosed in parentheses () and separated by commas.
* Tuples can store mixed data types â€“ strings, numbers, booleans, even other tuples.

In [4]:
tup1 = ()
tup1

()

In [1]:
tup2 = (20,40,50)
tup2

(20, 40, 50)

In [6]:
tup3 = (20.33,40.76,89.43)
tup3

(20.33, 40.76, 89.43)

In [7]:
tup4 = ('one','two','three','four')
tup4

('one', 'two', 'three', 'four')

In [9]:
tup5 = ('Ani',23,(40,76),(200,134)) # Nested Tuple
tup5

('Ani', 23, (40, 76), (200, 134))

In [10]:
tup6 = (234,'Aniket',45.774) # Tuple of mixed datatypes
tup6

(234, 'Aniket', 45.774)

In [11]:
tup7 = ('Ani',34,[65,80],[150,60],{'Abhi','Anaya'},(84,58,30))
tup7

('Ani', 34, [65, 80], [150, 60], {'Abhi', 'Anaya'}, (84, 58, 30))

In [12]:
len(tup7)

6

# Tuple Indexing

In [13]:
tup2[0] # Retrive the first element from the tuple

20

In [14]:
tup4[0]

'one'

In [15]:
tup4[0][0]

'o'

In [17]:
tup4[-1] # Retrieve the last element from the tuple

'four'

# Tuple Slicing

In [4]:
mytuple = ('one','two','three','four','five','six','seven','eight')

In [5]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [9]:
mytuple[2:5]

('three', 'four', 'five')

In [21]:
mytuple[:3]

('one', 'two', 'three')

In [22]:
mytuple[:2]

('one', 'two')

In [23]:
mytuple[-3:]

('six', 'seven', 'eight')

In [24]:
mytuple[-2:]

('seven', 'eight')

In [25]:
mytuple[-1]

'eight'

In [26]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & change Item

In [27]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [28]:
del mytuple[0] # Tuples are immutable, so we cant delete tuple item

TypeError: 'tuple' object doesn't support item deletion

In [31]:
mytuple[1] = 10 # Tuples are immutable which means we can't change the value of any tuple items

TypeError: 'tuple' object does not support item assignment

In [32]:
del tup2  # Deleting the whole tuple can be possible

# Loop through a tuple

In [33]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [34]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [35]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Tuple Membership

In [36]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [39]:
'three' in mytuple #Check if 'three' is exist in tuple or not

True

In [40]:
'ten' in mytuple #Check if 'three' is exist in tuple or not

False

In [41]:
if 'five' in mytuple:
    print('five is present in the tuple')

else:
    print('five is not present in the tuple')

Three is present in the tuple

In [42]:
if 'fifteen' in mytuple:
    print('fifteen is present in the tuple')

else:
    print('fifteen is not present in the tuple')

fifteen is not present in the tuple

# Index position

In [43]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [45]:
mytuple.index('seven') # Retreive the index location of the element

6

In [46]:
mytuple.index('three')

2

In [50]:
mytuple1 = ('one', 'two', 'three', 'four','one','one','two','three')

In [53]:
mytuple1.index('one') # Retrieve the index location of the first occurance element

0

In [54]:
mytuple1.count('one')

3

# Sorting

In [57]:
mytup3 =  (49,67,85,65,95,76)
mytup3

(49, 67, 85, 65, 95, 76)

In [68]:
max(mytup3) # Retrive the maximum number from the tuple

95

In [67]:
min(mytup3) # Retrieve the minimum number from the tuple

49

In [59]:
sorted(mytup3) # Returns a new sorted tuple and will not change the original tuple

[49, 65, 67, 76, 85, 95]

In [60]:
sorted(mytup3,reverse = True) # Sort in descending order

[95, 85, 76, 67, 65, 49]

In [10]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')